@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Lustra';
        font-weight: 500;
        src: url(/lustramedium.otf);
    }
}

.nav-link {
    @apply block py-2 px-3 text-gray-900 hover:bg-gray-100 md:hover:bg-transparent
        md:border-0 md:border-transparent md:hover:border-ccorange-400 md:hover:text-ccorange-400
        md:border-b-2 md:my-4 md:py-2 md:px-0 transition-colors
}

.text-gradient {
    @apply bg-gradient-to-r inline-block text-transparent bg-clip-text
}

.text-gradient-ccorange {
    @apply text-gradient from-ccorange-800 to-ccorange-300
}

.text-gradient-ccorange-light {
    @apply text-gradient from-ccorange-100 to-ccorange-600
}

.cta-button {
    @apply text-white bg-gradient-to-r from-ccorange-800 to-ccorange-300
        hover:bg-white hover:from-white hover:to-white hover:text-ccorange-400
        focus:ring-4 focus:outline-none font-bold text-sm px-5 py-3 me-6 mb-2 transition
}

.section-header {
    @apply text-3xl mb-4 font-display
}

.service-title {
    @apply mb-4 text-2xl font-display
}

.service-card-description {
    @apply text-gray-800
}

.tech-list {
    @apply list-[square] ms-2
}

.tech-list li {
    @apply text-white mb-2
}

.footer-link {
    @apply hover:underline me-4 md:me-6
}
