<!DOCTYPE html>
<html lang="fr-ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="bg-white w-full text-slate-800">
<nav class="bg-orange-100 border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-8 md:py-0 md:px-8">
        <a href="/" class="flex items-center space-x-3">
            <img src="/images/logo.svg" class="h-8" alt="VortexLogic Logo"/>
        </a>
        <button data-collapse-toggle="navbar-default" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-300"
                aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-bold flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 bg-gray-50 md:bg-orange-100">
                <li>
                    <a href="#services" class="nav-link">Services</a>
                </li>
                <li>
                    <a href="#about" class="nav-link">About</a>
                </li>
                <li>
                    <a href="#contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{ block "main" .}} {{ end }}

<footer class="rounded-lg m-4">
    <div class="w-full max-w-screen-xl mx-auto p-8 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 w-36">
                <img src="/images/logo-black.svg" class="h-8" alt="VortexLogic Logo" />
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0">
                <li>
                    <a href="#services" class="hover:underline me-4 md:me-6">Services</a>
                </li>
                <li>
                    <a href="#about" class="hover:underline me-4 md:me-6">About</a>
                </li>
                <li>
                    <a href="#contact" class="hover:underline me-4 md:me-6">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-3 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-4" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://vortexlogic.ca/" class="hover:underline">VortexLogic</a>. All Rights Reserved.</span>
    </div>
</footer>

<script src="/dist/flowbite.min.js"></script>
</body>
</html>
